@import './theme.css';
@import './typography.css';

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-bg-primary);
  gap: 50px;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.content-wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

/* Styles for the button inside Card */
.button-start {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-button-bg);
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px auto 0;
}

.icon-play {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.card-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
  
.card-row > .card {
  flex: 1 1 0;
  min-width: 280px;
}
