.navbar-depth-frame-2 {
  display: flex;
  justify-content: space-between;
  align-items: center; /* center items vertically */
  border-bottom: 1px solid #e5e8eb;
  padding: 12px 40px;
  width: 100%;
  box-sizing: border-box;
}

.navbar-depth-frame-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-depth-frame-3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-logo {
  height: 32px;
  width: 32px;
}

.navbar-text-wrapper {
  color: #0c141c;
  font-family: "Public Sans-Bold", Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  text-decoration: none;
}

.navbar-depth-frame-4 {
  display: flex;
  align-items: center;
  gap: 36px;
}

.navbar-depth-frame-5 {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar-link {
  font-family: "Manrope-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: #0c141c;
  text-decoration: none;
}

.navbar-avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
}